/*
* === Html ===
*/
html {
    position: relative;
    min-height: 100%;
}

/*
* === Body ===
*/
body{
    background-color: #f6f6eb;
}

/*
* === Header ===
*/
.navbar-logo {
    width: 25%;
}

.navbar {
    background-color: #8fc800;
}

.nav-item {
    margin: 0px 30px;
}

.nav-link {
    color:#0062b9;
}

.bold {
    font-weight: bold;
}

/*
* === Main ===
*/
.container h1 {
    margin-top: 10px;

}

/*
* === Login ===
*/
.form-login, .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

.form-login .form-control, .form-signup .form-control  {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus, .form-signup .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"], .form-signup input[type="text"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"], .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login .btn-login, .form-signup .btn-login {
    background-color: #8fc800;
    border-color: #8fc800;
}

/*
* === Footer ===
*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #36454f;
}

footer h3 {
   color:#ffffff;
   margin: 8px 0px;
}

footer p, span, li {
   color: #ffffff;
}
